*{
    margin: 0%;
    padding: 0%;
}
.product-container{
    position: relative;
    overflow: hidden;
    padding: 26px;
}
.product-carousel{
    padding: 0 10px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.pre-btn,
.next-btn {
    border: none;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}